<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard | Spot the Hole</title>
		<meta property="og:title" content="Admin Dashboard | Spot the Hole" />
		<meta name="description" content="View reports submitted by users" />
		<meta
			property="og:description"
			content="View reports submitted by users"
		/>
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/adminDashboard"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>

	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Admin Dashboard</h5>
				<p>
					View reports submitted by users
				</p>
				<div class="divider"></div>
			</div>
		</div>

		<div class="container">
			<div class="section">
				<ul class="subpages collection">
					<%- include('showGlobalCodes') -%>
				</ul>
			</div>
		</div>

		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwabuilder-sw-register') -%> <%-
		include('components/corejs') -%>
	</body>
</html>
