<!DOCTYPE html>
<html>
	<head>
		<title>Admin Dashboard | Spot the Hole</title>
		<meta property="og:title" content="Admin Dashboard | Spot the Hole" />
		<meta name="description" content="View reports submitted by users" />
		<meta
			property="og:description"
			content="View reports submitted by users"
		/>
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/adminDashboard"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>

	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Admin Dashboard</h5>
				<p>
					View reports submitted by users
				</p>
				<div class="divider"></div>
			</div>
		</div>

		<div class="container">
			<div class="section">
				<ul class="subpages collection">
					<%- include('showGlobalCodes') -%>
				</ul>
			</div>
		</div>

		<footer class="page-footer">
			<div class="container footer-content">
				<div class="row">
					<div class="">
						<h5 class="logo">ZAK</h5>
						<p class="text">
							ZAK is a super fast, premium and multi purpose
							Mobile APP UI template, with tons of features and
							functionalities.
						</p>
					</div>
					<div class="link-wrap">
						<ul class="link-ul">
							<li>
								<a class="" href="#!"
									><i class="mdi mdi-phone"></i> +1 234 567
									890</a
								>
							</li>
							<li>
								<a class="" href="#!"
									><i class="mdi mdi-email"></i>
									email@example.com</a
								>
							</li>
							<li>
								<a class="" href="#!"
									><i class="mdi mdi-map-marker"></i> FF 1,
									Sector-8, Tech Street, NY, USA</a
								>
							</li>
						</ul>
						<ul class="social-wrap">
							<li class="social">
								<a class="" href="#!"
									><i class="mdi mdi-facebook"></i
								></a>
								<a class="" href="#!"
									><i class="mdi mdi-twitter"></i
								></a>
								<a class="" href="#!"
									><i class="mdi mdi-dribbble"></i
								></a>
								<a class="" href="#!"
									><i class="mdi mdi-google-plus"></i
								></a>
								<a class="" href="#!"
									><i class="mdi mdi-linkedin"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					&copy; Copyright
					<a
						class=""
						href="https://themeforest.net/user/themepassion/portfolio"
						>Themepassion</a
					>. All rights reserved.
				</div>
			</div>
		</footer>

		<div class="backtotop">
			<a class="btn-floating btn primary-bg">
				<i class="mdi mdi-chevron-up"></i>
			</a>
		</div>

		<div class="footer-menu">
			<ul>
				<li>
					<a href="sub-apps.html">
						<i class="mdi mdi-open-in-app"></i>
						<span>Apps</span>
					</a>
				</li>
				<li>
					<a href="sub-pages.html">
						<i class="mdi mdi-shape-outline"></i>
						<span>Pages</span>
					</a>
				</li>
				<li>
					<a href="ui-pages-home.html">
						<i class="mdi mdi-home-outline"></i>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="sub-uielements.html">
						<i class="mdi mdi-laptop"></i>
						<span>UI</span>
					</a>
				</li>
				<li>
					<a href="sub-utilities-components.html" class="active">
						<i class="mdi mdi-flask-outline"></i>
						<span>Components</span>
					</a>
				</li>
			</ul>
		</div>

		<!-- PWA Service Worker Code -->

		<script type="text/javascript">
			// This is the "Offline copy of pages" service worker

			// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

			// Check compatibility for the browser we're running this in
			if ("serviceWorker" in navigator) {
				if (navigator.serviceWorker.controller) {
					console.log(
						"[PWA Builder] active service worker found, no need to register"
					);
				} else {
					// Register the service worker
					navigator.serviceWorker
						.register("pwabuilder-sw.js", {
							scope: "./",
						})
						.then(function (reg) {
							console.log(
								"[PWA Builder] Service worker has been registered for scope: " +
									reg.scope
							);
						});
				}
			}
		</script>

		<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

		<!-- CORE JS FRAMEWORK - START -->
		<script src="/js/jquery-2.2.4.min.js"></script>
		<script src="/js/materialize.js"></script>
		<script src="/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<!-- CORE JS FRAMEWORK - END -->

		<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
		<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

		<!-- CORE TEMPLATE JS - START -->
		<script src="/js/init.js"></script>
		<script src="/js/settings.js"></script>

		<script src="/js/scripts.js"></script>

		<!-- END CORE TEMPLATE JS - END -->

		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function () {
				$(".preloader-background").delay(10).fadeOut("slow");
			});
		</script>
	</body>

	<!-- Mirrored from jaybabani.com/zak-html/app/sub-utilities-components.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Mar 2020 17:13:57 GMT -->
</html>
