<!DOCTYPE html>
<html>
	<head>
		<title>Retry Camera Capture | Spot the Hole</title>
		<meta
			property="og:title"
			content="Retry Camera Capture | Spot the Hole"
		/>
		<meta
			name="description"
			content="Re-upload a picture for verification"
		/>
		<meta
			property="og:description"
			content="Re-upload a picture for verification"
		/>
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/cameraCaptureRetry"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>
	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Retry Camera Capture</h5>
				<p>
					Validation failed! Recapture and upload your pothole image
					for verification.
				</p>
				<div class="divider"></div>
			</div>
		</div>

		<div class="container">
			<div class="section">
				<form
					action="/uploadPotholePicture"
					method="post"
					enctype="multipart/form-data"
				>
					<div class="row">
						<div class="input-field col s12 pad-0">
							<input
								id="potholeImage"
								name="potholeImage"
								type="file"
								accept="image/*"
								class="waves-effect waves-light btn-large bg-primary"
								capture
								required
							/>
						</div>
					</div>

					<div class="row">
						<div class="col s12">
							<button
								type="submit"
								class="btn-large waves-effect waves-light bg-primary"
							>
								Upload
								<i class="mdi mdi-cloud-upload right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwabuilder-sw-register') -%> <%-
		include('components/corejs') -%>
	</body>
</html>
