<!DOCTYPE html>
<html>
	<head>
		<title>Camera Capture | Spot the Hole</title>
		<meta property="og:title" content="Camera Capture | Spot the Hole" />
		<meta name="description" content="Upload a picture for verification" />
		<meta
			property="og:description"
			content="Upload a picture for verification"
		/>
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/cameraCapture"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>
	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Camera Capture</h5>
				<p>Capture and upload your pothole image for verification.</p>
			</div>
		</div>
		<div class="container">
			<div class="section">
				<form
					action="/uploadPotholePicture"
					method="post"
					enctype="multipart/form-data"
				>
					<div class="row">
						<div class="input-field col s12 pad-0 center" style="height: 5rem;">
							<input
								id="potholeImage"
								name="potholeImage"
								type="file"
								accept="image/*"
								class="waves-effect waves-light btn-large bg-primary"
								capture
								required
							/>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center">
							<button
								type="submit"
								class="btn-large waves-effect waves-light bg-primary"
							>
								Upload
								<i class="mdi mdi-cloud-upload right"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="divider"></div>
		</div>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">FAQ</h5>
				<p>Have questions? We have the answers you are looking for.</p>
			</div>
			<div class="section">
				<h5 class="pagetitle">What happens to my image?</h5>
				<p>
					The image uploaded will be validated by an AutoML deployment
					running in Google Cloud Platform. This system helps to
					verify if the picture is a valid image of pothole and helps
					to keep away unwanted reports. Rear camera access is
					required.
				</p>
				<div class="divider"></div>
			</div>
			<div class="section">
				<h5 class="pagetitle">What information is collected?</h5>
				<p>
					Only the picture you upload is collected in this page. Rear
					camera access is required for that.
				</p>
			</div>
		</div>
		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>
	</body>
</html>
