<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<meta content="Spot the Hole Dashboard" name="description" />
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
		<style>
			/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
			#map {
				height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			#floating-panel {
				position: absolute;
				top: 10px;
				left: 25%;
				z-index: 5;
				background-color: #fff;
				padding: 5px;
				border: 1px solid #999;
				text-align: center;
				font-family: "Roboto", "sans-serif";
				line-height: 30px;
				padding-left: 10px;
			}
			#floating-panel {
				background-color: #fff;
				border: 1px solid #999;
				left: 25%;
				padding: 5px;
				position: absolute;
				top: 10px;
				z-index: 5;
			}
		</style>
	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->

	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>

		<!-- START navigation -->
		<nav class="fixedtop topbar navigation" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="index.html" class="brand-logo"
					><i class="mdi mdi-ring"></i>Spot the Hole</a
				>
				<!-- <ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->

				<!-- <ul id="nav-mobile" class="sidenav">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->
				<a
					href="#"
					data-target=""
					class="waves-effect waves-circle navicon back-button htmlmode show-on-large"
					><i class="mdi mdi-chevron-left" data-page=""></i
				></a>

				<a
					href="#"
					data-target="slide-nav"
					class="waves-effect waves-circle navicon sidenav-trigger show-on-large"
					><i class="mdi mdi-menu"></i
				></a>

				<a
					href="#"
					data-target=""
					class="waves-effect waves-circle navicon right nav-site-mode show-on-large"
					><i class="mdi mdi-invert-colors mdi-transition1"></i
				></a>
				<!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			</div>
		</nav>
		<ul id="slide-nav" class="sidenav sidemenu">
			<li class="menu-close"><i class="mdi mdi-close"></i></li>
			<li class="user-wrap">
				<div class="user-view row">
					<!-- <div class="background">
				<img src="/images/office.jpg">
			</div> -->
					<div class="col s3 imgarea">
						<a href="#user"
							><img
								class="circle"
								src="<%- user.picture -%>"
								alt="Profile Picture"
						/></a>
					</div>
					<div class="col s9 infoarea">
						<a href="#name"
							><span class="name"><%- user.name -%></span></a
						>
						<a href="#email"
							><span class="email"><%- user.email -%></span></a
						>
					</div>
				</div>
			</li>

			<li class="menulinks">
				<ul class="collapsible">
					<!-- SIDEBAR - START -->

					<!-- MAIN MENU - START -->

					<li class="sh-wrap">
						<div class="subheader">Navigation</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="ui-pages-home.html">
								<i class="mdi mdi-home-outline"></i>
								<span class="title">New Complain</span>
							</a>
						</div>
					</li>
					<!-- MAIN MENU - END -->

					<!--  SIDEBAR - END -->
				</ul>
			</li>
			<li class="copy-spacer"></li>
			<li class="copy-wrap">
				<div class="copyright">&copy; Spot the Hole Team</div>
			</li>
		</ul>

		<!-- END navigation -->

		<ul id="slide-settings" class="sidenav sidesettings right fixed">
			<li class="menulinks">
				<ul class="collapsible">
					<!-- SIDEBAR - START -->

					<!-- MAIN MENU - START -->

					<li class="sh-wrap"><div class="subheader">Themes</div></li>

					<li class="lvl1 site_mode">
						<div
							class="waves-effect appsettings active"
							data-type="site_mode"
							data-value="light"
						>
							<a href="#!">
								<i class="mdi mdi-checkbox-intermediate"></i>
								<span class="title">Light Mode</span>
							</a>
						</div>
					</li>
					<li class="lvl1 site_mode">
						<div
							class="waves-effect appsettings"
							data-type="site_mode"
							data-value="dark"
						>
							<a href="#!">
								<i class="mdi mdi-checkbox-blank-outline"></i>
								<span class="title">Dark Mode</span>
							</a>
						</div>
					</li>

					<!-- MAIN MENU - END -->

					<!--  SIDEBAR - END -->
				</ul>
			</li>
		</ul>

		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Admin Dashboard</h5>

				<p>
					List of potholes reported.
				</p>
				<div class="divider"></div>
			</div>
		</div>
		<div id="floating-panel">
			<button onclick="toggleHeatmap()">Toggle Heatmap</button>
			<button onclick="changeGradient()">Change gradient</button>
			<button onclick="changeRadius()">Change radius</button>
			<button onclick="changeOpacity()">Change opacity</button>
		</div>
		<div id="map"></div>
		<div class="container">
			<div class="section"></div>
		</div>

		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footer_menu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>
		<script type="text/javascript">
			$(document).ready(function () {
				$(".tabs").tabs();
			});
		</script>
		<%- include('components/scripts') -%>
		<script
			async
			defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjzX1FhtZzLzCKIa5kRvyi7Qpaz_yze4&libraries=visualization&callback=initMap"
		></script>
		<script>
			         var map, heatmap;
			         <%- include('latlngCenter') -%>
			function initMap() {
			  map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 13,
			    center: {lat: latAvg, lng: lngAvg},
			    mapTypeId: 'satellite'
			  });

			  heatmap = new google.maps.visualization.HeatmapLayer({
			    data: getPoints(),
			    map: map
			  });
			}

			function toggleHeatmap() {
			  heatmap.setMap(heatmap.getMap() ? null : map);
			}

			function changeGradient() {
			  var gradient = [
			    'rgba(0, 255, 255, 0)',
			    'rgba(0, 255, 255, 1)',
			    'rgba(0, 191, 255, 1)',
			    'rgba(0, 127, 255, 1)',
			    'rgba(0, 63, 255, 1)',
			    'rgba(0, 0, 255, 1)',
			    'rgba(0, 0, 223, 1)',
			    'rgba(0, 0, 191, 1)',
			    'rgba(0, 0, 159, 1)',
			    'rgba(0, 0, 127, 1)',
			    'rgba(63, 0, 91, 1)',
			    'rgba(127, 0, 63, 1)',
			    'rgba(191, 0, 31, 1)',
			    'rgba(255, 0, 0, 1)'
			  ]
			  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
			}

			function changeRadius() {
			  heatmap.set('radius', heatmap.get('radius') ? null : 20);
			}

			function changeOpacity() {
			  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
			}
			function getPoints() {
			  return [
			      <%- include('latlng') -%>
			];
			}
		</script>
	</body>
</html>
