<!DOCTYPE html>
<html>
	<head>
		<title>Pothole Heat Map | Spot the Hole</title>
		<meta property="og:title" content="Pothole Heat Map | Spot the Hole" />
		<meta name="description" content="View the spread of potholes" />
		<meta property="og:description" content="View the spread of potholes" />
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/heatmap"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
		<style>
			/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
			#map {
				height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html,
			body {
				height: 100%;
				margin: 0;
				padding: 0;
			}
			#floating-panel {
				position: absolute;
				top: 10px;
				left: 25%;
				z-index: 5;
				background-color: #fff;
				padding: 5px;
				border: 1px solid #999;
				text-align: center;
				font-family: "Roboto", "sans-serif";
				line-height: 30px;
				padding-left: 10px;
			}
			#floating-panel {
				background-color: #fff;
				border: 1px solid #999;
				left: 25%;
				padding: 5px;
				position: absolute;
				top: 10px;
				z-index: 5;
			}
		</style>
	</head>
	<!-- END HEAD -->

	<!-- BEGIN BODY -->

	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Pothole Heat Map</h5>
				<p>
					View the spread of potholes
				</p>
				<div class="divider"></div>
			</div>
		</div>
		<div id="floating-panel">
			<button onclick="toggleHeatmap()">Toggle Heatmap</button>
			<button onclick="changeGradient()">Change gradient</button>
			<button onclick="changeRadius()">Change radius</button>
			<button onclick="changeOpacity()">Change opacity</button>
		</div>
		<div id="map"></div>
		<div class="container">
			<div class="section"></div>
		</div>

		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>
		<script type="text/javascript">
			$(document).ready(function () {
				$(".tabs").tabs();
			});
		</script>
		<%- include('components/scripts') -%>
		<script
			async
			defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLjzX1FhtZzLzCKIa5kRvyi7Qpaz_yze4&libraries=visualization&callback=initMap"
		></script>
		<script>
			         var map, heatmap;
			         <%- include('latlngCenter') -%>
			function initMap() {
			  map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 13,
			    center: {lat: latAvg, lng: lngAvg},
			    mapTypeId: 'satellite'
			  });

			  heatmap = new google.maps.visualization.HeatmapLayer({
			    data: getPoints(),
			    map: map
			  });
			}

			function toggleHeatmap() {
			  heatmap.setMap(heatmap.getMap() ? null : map);
			}

			function changeGradient() {
			  var gradient = [
			    'rgba(0, 255, 255, 0)',
			    'rgba(0, 255, 255, 1)',
			    'rgba(0, 191, 255, 1)',
			    'rgba(0, 127, 255, 1)',
			    'rgba(0, 63, 255, 1)',
			    'rgba(0, 0, 255, 1)',
			    'rgba(0, 0, 223, 1)',
			    'rgba(0, 0, 191, 1)',
			    'rgba(0, 0, 159, 1)',
			    'rgba(0, 0, 127, 1)',
			    'rgba(63, 0, 91, 1)',
			    'rgba(127, 0, 63, 1)',
			    'rgba(191, 0, 31, 1)',
			    'rgba(255, 0, 0, 1)'
			  ]
			  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
			}

			function changeRadius() {
			  heatmap.set('radius', heatmap.get('radius') ? null : 20);
			}

			function changeOpacity() {
			  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
			}
			function getPoints() {
			  return [
			      <%- include('latlng') -%>
			];
			}
		</script>
	</body>
</html>
