<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Spot the Hole</title>
		<meta property="og:title" content="Dashboard | Spot the Hole" />
		<meta name="description" content="Your contributions" />
		<meta property="og:description" content="Your contributions" />
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/dashboard"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>

	<style>
		#btn {
			margin: auto;
			margin-top: 5rem;
			background: #222;
			height: 75px;
			max-width: 200px;
			border: none;
			border-radius: 10px;
			color: #eee;
			font-size: 40px;
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			position: relative;
			transition: 1s;
			-webkit-tap-highlight-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			padding-top: 5px;
			}

			#btn #circle {
			width: 5px;
			height: 5px;
			background: transparent;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 50%;
			overflow: hidden;
			transition: 500ms;
			}

			.noselect {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
				-ms-user-select: none;
					user-select: none;
			}

			#btn:hover {
			background: transparent;
			color: yellow;
			}

			#btn:hover #circle {
			height: 75px;
			width: 200px;
			left: 0;
			border-radius: 0;
			border-bottom: 2px solid yellow;
			}
		</style>

	<body
		class="isfullscreen html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>

		<%- include('components/headerMenu') -%>
		<ul id="slide-nav" class="sidenav sidemenu">
			<li class="menu-close"><i class="mdi mdi-close"></i></li>
			<li class="user-wrap">
				<div class="user-view row">
					<div class="col s3 imgarea">
						<img
							class="circle"
							src="/logo-circle.png"
							alt="Spot the Hole logo"
						/>
					</div>
					<div class="col s9 infoarea">
						<h5>
							Spot<span class="thespan">the</span>Hole
						</h5> 
						<span class="email">Login to continue!</span>
					</di	v>
				</div>
			</li>

			<li class="menulinks">
				<ul class="collapsible">
					<li class="sh-wrap">
						<div class="subheader">Navigation</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="/FAQ">
								<i class="mdi mdi-comment-question"></i>
								<span class="title">FAQ</span>
							</a>
						</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="/login">
								<i class="mdi mdi-lock"></i>
								<span class="title">Login</span>
							</a>
						</div>
					</li>
					<li class="sep-wrap"><div class="divider"></div></li>
					<li class="sh-wrap">
						<div class="subheader">Reach Us</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="tel:+1 234 567 890">
								<i class="mdi mdi-phone"></i>
								<span class="title">Phone</span>
							</a>
						</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="mailto:email@example.com">
								<i class="mdi mdi-email"></i>
								<span class="title">Email</span>
							</a>
						</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="sms:+1 234 567 890">
								<i class="mdi mdi-message-text"></i>
								<span class="title">Message</span>
							</a>
						</div>
					</li>
					<li class="sep-wrap"><div class="divider"></div></li>
					<li class="lvl1">
						<div class="waves-effect">
							<a
								href="#"
								data-target="slide-settings"
								class="sidenav-trigger"
								><i class="mdi mdi-settings"></i
								><span class="title">Customise</span>
							</a>
						</div>
					</li>
				</ul>
			</li>
			<li class="copy-spacer"></li>
			<li class="copy-wrap">
				<div class="copyright">
					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					Spot the Hole
				</div>
			</li>
		</ul>
		<%- include('components/customisation') -%>
		<div class="fullfixed">
			<div
				class="carousel carousel-fullscreen carousel-slider walk_carousel"
			>
				<div class="carousel-item" href="#one!">
					<div
						class="bg"
						style="
							background-image: url('zak/assets/images/potholepic.jpg');
						"
					></div>
					<div class="item-content center-align white-text">
						<div class="spacer-xlarge"></div>
						<h1 class="mainhead" >
							SPOT<span class="thespan">THE</span>HOLE
						</h1> 
					
					</div>
				</div>
				<div class="carousel-item" href="#two!">
					<div
						class="bg"
						style="
							background-image: url('zak/assets/images/cones.jpg');
						"
					></div>
					<div style="text-align: center;">
						<div class="center">
							<div class="property-card" >
							  <a target="_blank" href="https://m.timesofindia.com/city/goa/potholes-unavoidable-as-state-receives-heavy-rainfall-sudin/amp_articleshow/65663142.cms">
								<div class="property-image" style="background-image: url('zak/assets/images/potholenews1.png');">
								  <div class="property-image-title">
								  </div>
								</div></a>
							  <div class="property-description">
								<h6> Potholes unavoidable </h6>
								<p class="smalldate" >TNN | Updated: Jan 5, 2015</p>
								<p style="font-size: 14px;">“In nearly 50% of the roads, the roads have not completed the maintenance period and..</p>
							  </div>
							  
							</div>
						  </div>
						  <div class="center">
							<div class="property-card">
							  <a target="_blank" href="http://englishnews.thegoan.net/M/#!/detail.html?id=54271&secid=1">
								<div class="property-image" style="background-image: url('zak/assets/images/potholenews2.jpg');">
								  <div class="property-image-title">
								  </div>
								</div></a>
							  <div class="property-description">
								<h6> Potholes Free Goa </h6>
								<p class="smalldate" >TG | Updated: Sep 4, 2018</p>
								<p style="font-size: 14px;">The promises made by Chief Minister and PWD Minister to give pothole free roads are..</p>
							  </div>
							  
							</div>
						  </div>
						  <div class="center">
							<div class="property-card"> 
							  <a target="_blank" href="https://www.goa365.tv/issues/B/those-responsible-for-potholes-be-ready-to-face-fury-potholes-free-goa/08146.html">
								<div class="property-image"style="background-image: url('zak/assets/images/potholenews3.jpg');">
								  <div class="property-image-title">
								  </div>
								</div></a>
							  <div class="property-description">
								<h6 style="line-height: normal;"> Goa’s pothole syndrome </h6>
								<p class="smalldate">TNN | Updated: Sep 4, 2018</p>
								<p style="font-size: 14px;">The casual attitude of the government, to such dangerous road conditions, arises from..</p>
							  </div>
							</div>
						  </div>
						  <div class="center">
							<div class="property-card">
							  <a target="_blank" href="https://www.bbc.com/news/uk-politics-56590518">
								<div class="property-image" style="background-image: url('zak/assets/images/potholenews4.jpeg');">
								  <div class="property-image-title">
								  </div>
								</div></a>
							  <div class="property-description">
								<h6 style="line-height: normal;"> Councils filling potholes 'every 19 seconds' </h6>
								<p class="smalldate" >BBC | 19:18 31 Mar</p>
								<p style="font-size: 14px;">The number of repairs has increased to 1.7 million in England and Wales in the past year, a survey says.</p>
							  </div>
							  
							
							</div>
						  </div>
					</div>
				</div>


				


				<div class="carousel-item" href="#three!">
					<div
						class="bg"
						style="
							background-image: url('zak/assets/images/potholepic.jpg');
						"
					></div>
					<div class="item-content center-align white-text" style="text-align: center;">
						<p style="color:yellow; font-size: large;">Fully autonomous and intelligent platform to detect, monitor and manage potholes issues. An end-to-end system with a PWA front-end for users to report potholes and government authorities to track and manage them.</p>
					</p>
						<p class="light white-text" style="margin-top: 30px;">
							We make use of a GCP cloud model where an image is sent as the input and the model tells us if there are potholes visible in the image or not.
						</p>
						<div id="btn"><span class="noselect">UPLOAD A POTHOLE</span><div id="circle"></div></div>
					</div>
				</div>
				
			</div>
		</div>
	
		
		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>

		<!-- PWA Service Worker Code -->

		<script type="text/javascript">
			// This is the "Offline copy of pages" service worker

			// Add this below content to your HTML page, or add the js file to your page at the very top to register service worker

			// Check compatibility for the browser we're running this in
			if ("serviceWorker" in navigator) {
				if (navigator.serviceWorker.controller) {
					console.log(
						"[PWA Builder] active service worker found, no need to register"
					);
				} else {
					// Register the service worker
					navigator.serviceWorker
						.register("pwabuilder-sw.js", {
							scope: "./",
						})
						.then(function (reg) {
							console.log(
								"[PWA Builder] Service worker has been registered for scope: " +
									reg.scope
							);
						});
				}
			}
		</script>

		<!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->

		<!-- CORE JS FRAMEWORK - START -->
		<script src="zak/assets/js/jquery-2.2.4.min.js"></script>
		<script src="zak/assets/js/materialize.js"></script>
		<script src="zak/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
		<!-- CORE JS FRAMEWORK - END -->

		<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
		<script type="text/javascript">
			$(document).ready(function () {
				$(".carousel-fullscreen.carousel-slider")
					.carousel({
						fullWidth: true,
						indicators: true,
					})
					.css("height", $(window).height());
				setTimeout(autoplay, 3500);
				function autoplay() {
					$(".carousel-fullscreen.carousel-slider").carousel("next");
					setTimeout(autoplay, 3500);
				}
			});
			
		</script>
		<!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->

		<!-- CORE TEMPLATE JS - START -->
		<script src="zak/assets/js/init.js"></script>
		<script src="zak/assets/js/settings.js"></script>

		<script src="zak/assets/js/scripts.js"></script>

		<!-- END CORE TEMPLATE JS - END -->

		<script type="text/javascript">
			document.addEventListener("DOMContentLoaded", function () {
				$(".preloader-background").delay(10).fadeOut("slow");
			});
		</script>
	</body>

	<!-- Mirrored from jaybabani.com/zak-html/app/ui-pages-walkthrough.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Mar 2020 17:15:54 GMT -->
</html>
