<!DOCTYPE html>
<html>
	<head>
		<title>Dashboard</title>
		<meta content="Spot the Hole Dashboard" name="description" />
		<%- include('components/meta') -%>
		<%- include('components/corecss') -%>
		<script
			src="/js/nouislider.min.js"
			type="text/javascript"
		></script>
		<link
			href="/css/nouislider.css"
			rel="stylesheet"
			type="text/css"
			media="screen"
		/>
	</head>
	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>

		<!-- START navigation -->
		<nav class="fixedtop topbar navigation" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="index.html" class="brand-logo"
					><i class="mdi mdi-ring"></i>Spot the Hole</a
				>
				<!-- <ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->

				<!-- <ul id="nav-mobile" class="sidenav">
				<li><a href="#">Navbar Link</a></li>
			</ul> -->
				<a
					href="#"
					data-target=""
					class="waves-effect waves-circle navicon back-button htmlmode show-on-large"
					><i class="mdi mdi-chevron-left" data-page=""></i
				></a>

				<a
					href="#"
					data-target="slide-nav"
					class="waves-effect waves-circle navicon sidenav-trigger show-on-large"
					><i class="mdi mdi-menu"></i
				></a>

				<a
					href="#"
					data-target=""
					class="waves-effect waves-circle navicon right nav-site-mode show-on-large"
					><i class="mdi mdi-invert-colors mdi-transition1"></i
				></a>
				<!-- <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
			</div>
		</nav>
		<ul id="slide-nav" class="sidenav sidemenu">
			<li class="menu-close"><i class="mdi mdi-close"></i></li>
			<li class="user-wrap">
				<div class="user-view row">
					<!-- <div class="background">
				<img src="/images/office.jpg">
			</div> -->
					<div class="col s3 imgarea">
						<a href="#user"
							><img
								class="circle"
								src="<%- user.picture -%>"
								alt="Profile picture"
						/></a>
					</div>
					<div class="col s9 infoarea">
						<a href="#name"
							><span class="name"><%- user.name -%></span></a
						>
						<a href="#email"
							><span class="email"><%- user.email -%></span></a
						>
					</div>
				</div>
			</li>

			<li class="menulinks">
				<ul class="collapsible">
					<!-- SIDEBAR - START -->

					<!-- MAIN MENU - START -->

					<li class="sh-wrap">
						<div class="subheader">Navigation</div>
					</li>
					<li class="lvl1">
						<div class="waves-effect">
							<a href="/cameraCapture">
								<i class="mdi mdi-home-outline"></i>
								<span class="title">New Complain</span>
							</a>
						</div>
					</li>
					<!-- MAIN MENU - END -->

					<!--  SIDEBAR - END -->
				</ul>
			</li>
			<li class="copy-spacer"></li>
			<li class="copy-wrap">
				<div class="copyright">&copy; Spot the Hole Team</div>
			</li>
		</ul>

		<!-- END navigation -->

		<ul id="slide-settings" class="sidenav sidesettings right fixed">
			<li class="menulinks">
				<ul class="collapsible">
					<!-- SIDEBAR - START -->

					<!-- MAIN MENU - START -->

					<li class="sh-wrap"><div class="subheader">Themes</div></li>

					<li class="lvl1 site_mode">
						<div
							class="waves-effect appsettings active"
							data-type="site_mode"
							data-value="light"
						>
							<a href="#!">
								<i class="mdi mdi-checkbox-intermediate"></i>
								<span class="title">Light Mode</span>
							</a>
						</div>
					</li>
					<li class="lvl1 site_mode">
						<div
							class="waves-effect appsettings"
							data-type="site_mode"
							data-value="dark"
						>
							<a href="#!">
								<i class="mdi mdi-checkbox-blank-outline"></i>
								<span class="title">Dark Mode</span>
							</a>
						</div>
					</li>

					<!-- MAIN MENU - END -->

					<!--  SIDEBAR - END -->
				</ul>
			</li>
		</ul>

		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Admin Dashboard</h5>

				<p>
					List of potholes reported.
				</p>
				<p>Severity rating: <span id="ratingPlaceholder"></span></p>
				<div id="ratingSlider"></div>
				<div class="divider"></div>
			</div>
		</div>

		<div class="container">
			<div class="section">
				<%- include('showPotholesAdmin') %>
			</div>
		</div>

		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footer_menu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>
		<script type="text/javascript">
			$(document).ready(function () {
				$(".tabs").tabs();
			});
		</script>
		<%- include('components/scripts') -%>
		<script>
			var slider = document.getElementById("ratingSlider");
			noUiSlider.create(slider, {
				start: [<%- rating -%>],
				connect: true,
				step: 1,
				orientation: "horizontal", // 'horizontal' or 'vertical'
				range: {
					min: 0,
					max: 100,
				},
				format: wNumb({
					decimals: 0,
				}),
			});
			document.getElementById('ratingPlaceholder').innerText = slider.noUiSlider.get()
			slider.noUiSlider.on("change", function (values, handle) {
				var payload = {
					rating: slider.noUiSlider.get(),
					globalCode: window.location.search.replace(
						"?globalCode=",
						""
					),
				};
				fetch("/setRating", {
					method: "POST",
					body: new URLSearchParams($.param(payload)),
				})
					.then(function (response) {
						if (response.status !== 200) {
							alert(
								"Looks like there was a problem. Status Code: " +
									response.status
							);
							return;
						}
						if (response.status == 200) {
							document.getElementById('ratingPlaceholder').innerText = slider.noUiSlider.get()
						}
					})
					.catch(function (err) {
						alert("Fetch Error :-S", err);
					});
			});
		</script>
	</body>
</html>
