<!DOCTYPE html>
<html>
	<head>
		<title>Report | Spot the Hole</title>
		<meta property="og:title" content="Report| Spot the Hole" />
		<meta name="description" content="Submit your report" />
		<meta property="og:description" content="Submit your report" />
		<meta
			property="og:url"
			content="https://spot-the-hole.web.app/report"
		/>
		<%- include('components/meta') -%> <%- include('components/corecss') -%>
	</head>
	<body
		class="html"
		data-header="light"
		data-footer="dark"
		data-header_align="center"
		data-menu_type="left"
		data-menu="light"
		data-menu_icons="on"
		data-footer_type="left"
		data-site_mode="light"
		data-footer_menu="show"
		data-footer_menu_style="light"
	>
		<div class="preloader-background">
			<div class="preloader-wrapper">
				<div id="preloader"></div>
			</div>
		</div>
		<%- include('components/headerMenu') -%> <%-
		include('components/sideMenu') -%> <%-
		include('components/customisation') -%>
		<div class="container">
			<div class="section">
				<h5 class="pagetitle">Submit Report</h5>
				<p>
					Image has been uploaded. Type description to submit report.
				</p>
				<div class="divider"></div>
			</div>
		</div>

		<div class="container">
			<div class="section">
				<form
					action="/submitReport"
					method="post"
					onsubmit="return validateForm()"
				>
					<div class="editprof-img">
						<div class="">
							<img
								src="<%- pothole -%>"
								alt="Pothole"
								name="image"
							/>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<i class="mdi mdi-circle-edit-outline prefix"></i>
							<textarea
								id="description"
								name="description"
								class="materialize-textarea"
								required
							></textarea>
							<label for="description">Brief Description</label>
						</div>
					</div>
					<input
						type="text"
						name="imageURL"
						id="imageURL"
						value="<%- pothole -%>"
						hidden
					/>
					<input id="latitude" name="latitude" type="text" hidden />
					<input id="longitude" name="longitude" type="text" hidden />
					<div class="row">
						<div class="col s12">
							<button
								type="submit"
								class="waves-effect waves-light btn-large bg-primary"
							>
								Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<%- include('components/footer') -%> <%- include('components/backtotop')
		-%> <%- include('components/footerMenu') -%> <%-
		include('components/pwa') -%> <%- include('components/corejs') -%>
		<script>
			window.onload = getLocation();
			function validateForm() {
				if (
					document.getElementById("latitude").value == null ||
					document.getElementById("latitude").value == "" ||
					document.getElementById("longitude").value == null ||
					document.getElementById("longitude").value == ""
				) {
					alert("Please provide location.");
					return false;
				}
			}
			function getLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(
						showPosition,
						showError
					);
				} else {
					alert("Geolocation is not supported by this browser.");
				}
			}

			function showPosition(position) {
				document.getElementById("latitude").value =
					position.coords.latitude;
				document.getElementById("longitude").value =
					position.coords.longitude;
				// var img_url =
				// 	"https://maps.googleapis.com/maps/api/staticmap?center=" +
				// 	latlon +
				// 	"&zoom=14&size=400x300&sensor=false&key=WE_NEED_A_KEY";

				// document.getElementById("mapholder").innerHTML =
				// 	"<img src='" + img_url + "'>";
			}
			function showError(error) {
				switch (error.code) {
					case error.PERMISSION_DENIED:
						alert("User denied the request for Geolocation.");
						break;
					case error.POSITION_UNAVAILABLE:
						alert("Location information is unavailable.");
						break;
					case error.TIMEOUT:
						alert("The request to get user location timed out.");
						break;
					case error.UNKNOWN_ERROR:
						alert("An unknown error occurred.");
						break;
				}
			}
		</script>
	</body>
</html>
