<% for(var i=0;i<Object.keys(potholesData).length;i++) { %>
	<div class="row">
		<div class="col s12 pad-0">
			<h5 class="bot-20 sec-tit">
				<%= potholesData[i].premise %> <%= potholesData[i].sublocality
				%> (<%= potholesData[i].globalCode %>)
			</h5>
			<div class="card">
				<div class="card-image">
					<img src="<%= potholesData[i].image %>" />
					<!-- <span class="card-title">Image Card</span> -->
				</div>
				<div class="card-content">
					<p>
						Description: <%= potholesData[i].description %>
					</p>
					<br />
					<p>
						Negativity rating: <%= potholesData[i].neg %>
					</p>
					<br />
					<p>
						Location via Place ID:
						<a
							href="https://www.google.com/maps/search/?api=1&query=Google&query_place_id=<%= potholesData[i].placeID %>"
							target="_blank"
							><%= potholesData[i].placeID %></a
						>
					</p>
					<br />
					<p>
						Latitude: <%= potholesData[i].latitude %> , Longitude:
						<%= potholesData[i].longitude %> , Postal Code: <%=
						potholesData[i].postal_code %>
					</p>
					<br />
					<p>
						Administrative Area Level 1: <%=
						potholesData[i].administrative_area_level_1 %>
					</p>
					<br />
					<p>
						Administrative Area Level 2: <%=
						potholesData[i].administrative_area_level_2 %>
					</p>
					<br />
					<p>
						Complete Address: <%= potholesData[i].completeAddress %>
					</p>
				</div>
				<!-- <div class="card-action">
								<a href="#">This is a link</a>
							</div> -->
			</div>
		</div>
	</div>
<% }%>
